/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 
    border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;

}
body{
    background-color: #0b3352;
}

a{
    text-decoration: none;
    color: black;
}

.faqbtn{
  margin: 10px auto;
}

.grey{
    color:#818d9c;
    font-size: 24px;

}
.circle{
    border-radius: 50%;
}
.text-center{
    text-align: center;
}
.purple{
    color: #6224b2;
    font-size: 45px;
    font-weight: 700;
}
.green{
    color: #24b2a9;
    font-size: 45px;
    font-weight: 700;
}
.navbar{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.659);
    display: flex;
    padding: 0 130px;
    align-items: center;
    justify-content: space-between;
}
.main{
    position: -webkit-sticky;
    z-index: 9999;
    position: sticky;
    top: 0;
    width: 100vw;
    backdrop-filter: blur(15px);
}
.logo{
    border-radius: 4px;
}



.linkcontainer{
height: 100%;
display: flex;
align-items: center;
}
.navlink{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    line-height: 26px;
}
.overlay {
    width: 100%;
    z-index: 1;
    color: rgba(209, 206, 209, 0.4);
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.inline-B{
    display: inline-block;
}


/* carrer page */

.container{
    width: 90vw;
    margin: auto;
    padding: 10vh 10vw;

}
.container img{
    height: 50vh;
    width:100%;
}
.freetrial{
    margin: 50px auto;
}

.button{
    background-color:#2bb336;   
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.15) 0px -4px 0px 0px inset;
}
.button:hover{
    background-color: #23872c;   
}





  /* footer section  */
  .footercontain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
    flex-direction: column;
  }
  .footer {
    width: 100vw;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footerlinks{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }

  .footer .col img{
    margin: 50px auto;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }


  .footerinformation{
    width: 70vw;
    height: auto;
    background-color: #070617;
    padding: 20px 0px;
    border-top: 1px solid rgba(137, 137, 137, 0.486);
  }
/* 

  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  } */