<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Vance</title>
    <link rel="stylesheet" href="carrer.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>

    <section class="main">
        <nav class="navbar overlay">
            <img src="images/DanceVance.png" class="logo" height="45px" alt="">
            <div class="linkcontainer">
                <a href="ourSessions.html" class="navlink">Our Sessions</a>
                <a href="carrer.html" class="navlink">Carrer</a>
                <a href="aboutus.html" class="navlink ">about Us</a>
                <a href="../index.html" class="navlink"> My Course</a>
                <img src="images/user.png" class="circle" height="35px" alt="">
            </div>
        </nav>
    </section>

    <section>
        <div class="container text-center">
            <div class="heading grey">JOIN OUR TEAM!</div>
            <div>
                <h1 class="purple inline-B ">Progressive</h1>
                <h1 class="green inline-B">Learning Journeys</h1>
            </div>
            <img class="inviteimg"></img>
            <p>At Crejo.Fun, we’re changing the way children learn by creating an integrated            </p>
            <p>learning experience powered by extracurricular activities.            </p>
            <p>Want to be a part of this journey? Fill out the form below and our team will contact you.            </p>
            <div class="freetrial ">
                <a href="" class="button">Apply Now</a>
            </div>
        </div>
    </section>





    <footer class="footer">
        <div class="footercontain">
            <div class="footerlinks" style="width:70vw ;">
                <div class="col">
                    <img src="images/DanceVance.png" class="logo" width="70%" alt="">
                </div>
                <div class="col">
                    <h1>Company</h1>
                    <ul>
                        <li>About</li>
                        <li>Mission</li>
                        <li>Services</li>
                        <li>Social</li>
                        <li>Get in touch</li>
                    </ul>
                </div>
                <div class="col">
                    <h1>Courses</h1>
                    <ul>
                        <li>About</li>
                        <li>Mission</li>
                        <li>Services</li>
                        <li>Social</li>
                        <li>Get in touch</li>
                    </ul>
                </div>

                <div class="col">
                    <h1>Support</h1>
                    <ul>
                        <li>Contact us</li>
                        <li>Web chat</li>
                        <li>Open ticket</li>
                    </ul>
                </div>
                <div class="col social">
                    <h1>Social</h1>
                    <ul>
                        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
                        <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
                        <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footerinformation">
                <p class="grey" style="font-size:16px">Crejo.Fun is a leading online learning platform for
                    extra-curricular activities for kids around the world! Courses are taught live by expert teachers in
                    a fun and interactive environment, on a custom-built gamified platform. We are also rated 4.9 by
                    70,000+ learners across 40+ countries!<br>
                    Learning on Crejo.Fun is geared towards the holistic development of SPICE (Social, Physical,
                    Intellectual, Creative, and Emotional) skills in children through exploration and guided discovery.
                    <br><br>
                    Extracurricular activities are not ‘extra’, but crucial tools that help children develop into
                    well-rounded personalities equipped with diverse skill sets that can be applied to all aspects of
                    their lives.
                    <br><br>
                    Activities on Crejo.Fun are designed to be developmentally appropriate to mesh with children’s
                    interests. These activities aid in the progressive building of skills and competencies in children
                    by engaging them in learning through fun.
                </p>
            </div>
        </div>



    </footer>





    <script src="https://kit.fontawesome.com/0b20950690.js" crossorigin="anonymous"></script>
</body>

</html>